img{
    width: 100px;
    height: 100px;
}
ul{
    width: 250px;
    height: 700px;
    /* display: flex;
    flex-flow: column; */
    margin: auto;
    list-style: none;
    border: 2px solid grey;    
}
li{
    display: flex;
    padding: 15px;
    padding-top: 10px;
align-items: center;

}
img{
    border-radius: 50px;
    border: 1px grey solid;
}